In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
321,tt1230414,85000000,219103655,It's Complicated,Meryl Streep|Alec Baldwin|Steve Martin|Lake Be...,Nancy Meyers,First comes marriage. Then comes divorce. And ...,"Ten years after their divorce, Jane and Jake A...",121,Comedy|Romance,Universal Pictures|Scott Rudin Productions|Wav...,12/23/2009,6.2,2009
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014
1506,tt0498380,19000000,68673228,Letters from Iwo Jima,Ken Watanabe|Kazunari Ninomiya|Tsuyoshi Ihara|...,Clint Eastwood,The battle of Iwo Jima seen through the eyes o...,The story of the battle of Iwo Jima between th...,141,Action|Adventure|Drama|War,DreamWorks SKG|Amblin Entertainment|Malpaso Pr...,12/19/2006,6.9,2006
558,tt0179626,60000000,56359980,15 Minutes,Robert De Niro|Charlize Theron|Edward Burns|Ke...,John Herzfeld,America Likes to Watch,When Eastern European criminals Oleg and Emil ...,120,Action|Crime|Thriller,New Line Cinema|Industry Entertainment|Tribeca...,3/1/2001,5.7,2001
960,tt0289765,78000000,209196298,Red Dragon,Anthony Hopkins|Edward Norton|Ralph Fiennes|Ha...,Brett Ratner,Before the Silence.,"Former FBI agent Will Graham, who was once nea...",124,Crime|Thriller|Horror,Universal Pictures|Metro-Goldwyn-Mayer (MGM),9/29/2002,6.5,2002

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [6]:
answers = {} 
profit = data.revenue - data.budget
data['profit'] = profit

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [31]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]",Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [15]:
answers['2'] = 'Gods and Generals (tt0279111)'
answers['3'] = 'Winnie the Pooh (tt1449283)'
answers['4'] = '110'
answers['5'] = '107'
answers['6'] = 'Avatar (tt0499549)'
answers['7'] = 'The Lone Ranger (tt1210819)'
answers['8'] = '1478'
answers['9'] = 'The Dark Knight (tt0468569)'
answers['10'] = 'The Lone Ranger (tt1210819)'
answers['11'] = 'Drama'
answers['12'] = 'Drama'
answers['13'] = 'Peter Jackson'
answers['14'] = 'Robert Rodriguez'
answers['15'] = 'Chris Hemsworth'
answers['16'] = 'Matt Damon'
answers['17'] = 'Action'
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
answers['19'] = '2015'
answers['20'] = '2014'
answers['21'] = 'Сентябрь'
answers['22'] = '450'
answers['23'] = 'Peter Jackson'
answers['24'] = 'Four By Two Productions'
answers['25'] = 'Midnight Picture Show'
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [32]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",[Ronald F. Maxwell],The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]",Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [13]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [33]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]",Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [24]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [27]:
data[data.revenue > data.budget].original_title.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [33]:
data[data['revenue'] == data[(data.release_year == 2008)].revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [51]:
data[data['profit'] == data[(data.release_year >= 2012) & (data.release_year <= 2014)].profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [60]:
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()[:5]

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
dtype: int64

ВАРИАНТ 2

In [4]:
data = pd.read_csv('movie_bd_v5.csv')
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
import collections
c = collections.Counter()
for category in data['genres']:
    for genre in category:
        c[genre] += 1
print(c)

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2})

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [6]:
data = pd.read_csv('movie_bd_v5.csv')
data['genres'] = data['genres'].apply(lambda x: x.split('|'))
profit = data.revenue - data.budget
data['profit'] = profit
data2 = data.explode('genres')
data2.loc[data2['profit'] > 1]['genres'].value_counts(ascending=False)[:3]

Drama       560
Comedy      551
Thriller    446
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [37]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [7]:
data = pd.read_csv('movie_bd_v5.csv')
data2 = data[data.genres.str.contains('Action')]
pd.Series(data2['director'].str.cat(sep='|').split('|')).value_counts()[:5]

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [26]:
data = pd.read_csv('movie_bd_v5.csv')
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
rev = data[data.release_year == 2012].revenue.max()
data_actor = data.explode('cast')
data_actor.loc[data.revenue == rev]['cast'].value_counts()

Mark Ruffalo          1
Chris Evans           1
Chris Hemsworth       1
Scarlett Johansson    1
Robert Downey Jr.     1
Name: cast, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [17]:
data = pd.read_csv('movie_bd_v5.csv')
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
actor = data.explode('cast')
actor.loc[actor['budget'] > actor['budget'].mean()]['cast'].value_counts(ascending=False)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Alex Borstein         1
Cheech Marin          1
Kodi Smit-McPhee      1
Daveigh Chase         1
Charles S. Dutton     1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [6]:
data = pd.read_csv('movie_bd_v5.csv')
data2 = data[data.cast.str.contains('Nicolas Cage')]
pd.Series(data2['genres'].str.cat(sep='|').split('|')).value_counts()[:5]

Action      17
Thriller    15
Drama       12
Crime       10
Fantasy      8
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [10]:
company = data[data.production_companies.str.contains('Paramount Pictures')]
company.groupby('original_title')['profit'].min().sort_values(ascending=True)[:3]

original_title
K-19: The Widowmaker   -64831034
Timeline               -60519261
Next                   -51788987
Name: profit, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [15]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [16]:
company = data[data.production_companies.str.contains('Warner Bros')]
company.groupby('release_year')['revenue'].sum().sort_values(ascending=False)

release_year
2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2745493377
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2266545668
2012    1869520056
2002    1702709901
2015    1691168351
2006    1521170743
2000    1025531386
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [4]:
month = data['release_date'].apply(lambda x: x[0:2])
month2 = month.replace('/','') #почему-то не применяется:(
data['month'] = month2
data.groupby('month')['original_title'].count().sort_values(ascending=False)

month
9/    227
12    190
10    186
8/    161
3/    156
4/    149
6/    147
11    146
7/    142
5/    140
2/    135
1/    110
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [39]:
data.loc[data['month'].isin(['6/','7/','8/'])].original_title.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [6]:
def season(x):
    if x in '12,1/,2/':
        return 'winter'
    elif x in '3/,4/,5/':
        return 'spring'
    elif x in '6/,7/,8/':
        return 'summer'
    else:
        return 'fall'
data['season'] = data.month.apply(season)
data2 = data[data.season.str.contains('winter')]
pd.Series(data2['director'].str.cat(sep='|').split('|')).value_counts()[:5]

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Adam Shankman        4
Shawn Levy           4
dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [10]:
data['len_titles'] = data['original_title'].apply(lambda x: len(x))
data['production_companies'] = data['production_companies'].apply(lambda x:x.split('|'))
data2=data.explode('production_companies')
data2.loc[data2['len_titles'] == data2['len_titles'].max()]['production_companies'].value_counts(ascending=False)[:3]

Four By Two Productions                   10
Twentieth Century Fox Film Corporation    10
Name: production_companies, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [11]:
data['number_words'] = data.overview.apply(lambda x: len(x.split(' ')))
data2 = data.explode('production_companies')
data2.groupby(['production_companies'])['number_words'].max().sort_values(ascending=False)[:3]

production_companies
Lions Gate Films           175
Lakeshore Entertainment    175
Midnight Picture Show      175
Name: number_words, dtype: int64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [11]:
data[(data.vote_average >= data['vote_average'].quantile(0.99))].original_title

9                                              Inside Out
28                                              Spotlight
34                                                   Room
118                                          Interstellar
119                               Guardians of the Galaxy
124                                            Big Hero 6
125                                    The Imitation Game
128                                             Gone Girl
138                              The Grand Budapest Hotel
155                              The Theory of Everything
177                                The Fault in Our Stars
283                                            Mr. Nobody
316                                              3 Idiots
370                                             Inception
496     The Lord of the Rings: The Fellowship of the Ring
599                                       The Dark Knight
863                 The Lord of the Rings: The Two Towers
872                                           The Pianist
1081        The Lord of the Rings: The Return of the King
1183                              The Wolf of Wall Street
1188                                                  Her
1191                                     12 Years a Slave
1205                                            Prisoners
1213                                   Dallas Buyers Club
1444                                         The Prestige
1563                Eternal Sunshine of the Spotless Mind
1688                                  There Will Be Blood
1800                                              Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [4]:
import collections
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
from itertools import combinations
data['pairs'] = data['cast'].apply(lambda s: list(combinations(s, 2)))
data = data.explode('pairs')
collections.Counter(data['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [16]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [17]:
len(answers)

27